* {
    box-sizing: border-box;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-form form {
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    border-radius: 15px;
    margin: 30px auto;
    padding: 25px;
}

.change-password-form form .form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.change-password-form form .form-group input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.change-password-form form .form-group input:focus {
    outline: none;
    border: 2px solid #334ba9;
}

.change-password-form .form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.change-password-form .btn-cancel,
.change-password-form .btn-submit {
    font-size: 18px;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s linear;
    margin-top: 15px;
}

.change-password-form .btn-submit {
    background-color: #334ba9;
}

.change-password-form .btn-cancel {
    background-color: #fc3030;
}

.change-password-form .btn-submit:hover {
    background-color: #274ad6;
    font-weight: 700;
}

.change-password-form .btn-cancel:hover {
    background-color: #d62727;
    font-weight: 700;
}

@media (max-width: 768px) {
    .change-password-form form {
        width: 90%;
    }
}